include requirements.txt
include Dockerfile
include app.py
include app_logger/logger.py
include app_exception/exception.py
include setup.py
include .env
include .gitignore
include init_setup.sh
include weather_data.py


# This will ensure that all the necessary files are included in your distribution package when you create a source distribution using python setup.py sdist.
# MANIFEST.in is used to include files not automatically included by setuptools, such as non-Python files (HTML, CSS, etc.)
